<div class="comment container-fluid">
    <div class=" tick">
        <label>USERNAME</label>
        <p>
            He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.
            If Trump Ipsum weren’t my own words, perhaps I’d be dating it. Lorem Ispum is a choke artist. It
            chokes! I will write some great placeholder text – and nobody writes better placeholder text
            than me, believe me – and I’ll write it very inexpensively. I will write some great, great text
            on your website’s Southern border, and I will make Google pay for that text. Mark my words.
        </p>
    </div>
    <div class="tick" style="width: 31px">
        <p class="block">
            <button class="comment_vote" style="background-image: url('../../Images/arrow_upward_white_24dp_1x.png');"></button>
            <br />
            9000+
            <button class="comment_vote" style="background-image: url('../../Images/arrow_downward_white_24dp_1x.png');"></button>
        </p>
    </div>
    <div>
        <button class="btn btn-info btn-sm">REPLY</button>
        <button class="btn btn-info btn-sm">REPORT</button>
    </div>
</div>