<div class="comment container-fluid">
    <div class=" tick">
        <label>{Username}</label>
        <p>
            {Comment}
        </p>
    </div>
    <div class="tick" style="width: 31px">
        <p class="block">
            <button class="comment_vote" style="background-image: url('../../Images/arrow_upward_white_24dp_1x.png');"></button>
            <br />
            {Score}
            <button class="comment_vote" style="background-image: url('../../Images/arrow_downward_white_24dp_1x.png');"></button>
        </p>
    </div>
    <div>
        <button class="btn btn-info btn-sm">REPLY</button>
        <button class="btn btn-info btn-sm">REPORT</button>
    </div>
</div>