@using JabberBCIT.Models
@model JabberBCIT.Models.CommentAndChildrenViewModel
@{
    ViewBag.Title = "CommentPartial";
}
<tr>
    <td valign="top" style="width:40px">
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
            </div>
        </a>
        @*<p class="vote-count">@Html.DisplayFor(m => m.Votes)</p>*@
        <p class="vote-count">1</p>
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
            </div>
        </a>
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <h4 class="title">
                    @Model.comment.UserID
                </h4>
                <p>
                    @Model.comment.Text
                </p>
            </div>
            <table>
                @{
                    List<Comment> notChild = Model.comments.Where(x => x.ParentCommentID != Model.comment.CommentID).ToList();
                    foreach (var comment in Model.comments.Where(x => x.ParentCommentID == Model.comment.CommentID).ToList())
                    {
                        @Html.Partial("CommentPartial", new JabberBCIT.Models.CommentAndChildrenViewModel() { comment = comment, comments = notChild });
                    }
                }
            </table>
        </div>
    </td>
</tr>