
@{
    ViewBag.Title = "Forum";
}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../Content/forum.css" rel="stylesheet">
</head>
<body style="padding-top: 0px;">

    <div id="wrapper">

        <!-- Navigation -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div id="forum_sidebar">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                </ul>
            </div>
            <!-- /.Sidebar Menu Item -->
        <!-- /.Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="forum-header">
                            <b>Textbook - Buy / Sell / Trade</b>
                            <br>
                            <small>[ A place to get cheap textbooks or sell unwanted textbooks ]</small>
                        </h1>
                    </div>
                </div>
                <!-- Posts -->
                <table class="table table-filter">
                    <tbody>
                        <tr>
                            <td>
                                <div class="text-center">1</div>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                    </div>
                                </a>
                                    <p class="vote-count">0</p>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                    </a>
                                    <a href="#">
                                        <div class="media-body">
                                            <span class="pull-right media-meta">March 13, 2016</span>
                                            <h4 class="title">
                                                Post 1 - I wonder how the layout is going to look like with this very very long title
                                            </h4>
                                            <span class="pull-right comments-count">3842 Comments</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">2</div>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                    </div>
                                </a>
                                <p class="vote-count">0</p>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                    </a>
                                    <a href="#">
                                        <div class="media-body">
                                            <span class="media-meta pull-right">March 13, 2016</span>
                                            <h4 class="title">
                                                Post 2
                                            </h4>
                                            <span class="pull-right comments-count">3842 Comments</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">3</div>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                    </div>
                                </a>
                                <p class="vote-count">0</p>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                    </a>
                                    <a href="#">
                                        <div class="media-body">
                                            <span class="media-meta pull-right">March 13, 2016</span>
                                            <h4 class="title">
                                                Post 3
                                            </h4>
                                            <span class="pull-right comments-count">3842 Comments</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">4</div>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                    </div>
                                </a>
                                <p class="vote-count">0</p>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                    </a>
                                    <a href="#">
                                        <div class="media-body">
                                            <span class="media-meta pull-right">March 13, 2016</span>
                                            <h4 class="title">
                                                Post 4
                                            </h4>
                                            <span class="pull-right comments-count">3842 Comments</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="text-center">5</div>
                            </td>
                            <td>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                    </div>
                                </a>
                                <p class="vote-count">0</p>
                                <a href="#">
                                    <div class="vote">
                                        <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                    </div>
                                </a>
                            </td>
                            <td>
                                <div class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
                                    </a>
                                    <a href="#">
                                        <div class="media-body">
                                            <span class="media-meta pull-right">March 13, 2016</span>
                                            <h4 class="title">
                                                Post 5
                                            </h4>
                                            <span class="pull-right comments-count">3842 Comments</span>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- ./Posts -->
                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>