@model IEnumerable<ForumPost>
@{
    ViewBag.Title = "Forum";
}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="../Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../Content/forum.css" rel="stylesheet">
</head>
<body style="padding-top: 0px;">

    <div id="wrapper">

        <!-- Navigation -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div id="forum_sidebar">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                        <a href="unknown.html">Topics</a>
                    </li>
                    <li>
                </ul>
            </div>
            <!-- /.Sidebar Menu Item -->
        <!-- /.Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="forum-header">
                            <b>Textbook - Buy / Sell / Trade</b>
                            <br>
                            <small>[ A place to get cheap textbooks or sell unwanted textbooks ]</small>
                            <button class="btn btn-primary pull-right">Create Post</button>
                        </h1>
                    </div>
                </div>

                <!-- Posts -->
                <table class="table table-filter">
                    <tbody>
                        @foreach(var post in Model)
                        {
                            @Html.Partial("ForumPostPartial", post);
                        }
                    </tbody>
                </table>
                <!-- ./Posts -->
                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <ul class="pagination">
                            <li>
                                <a href="#">&laquo;</a>
                            </li>
                            <li class="active">
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">5</a>
                            </li>
                            <li>
                                <a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>