@using JabberBCIT.Models
@model List<Subforum>

@{
    ViewBag.Title = "SidebarPartial";
}

<div id="forum_sidebar">
    <ul class="nav navbar-nav side-nav">
        <li id="New_Topic_button" >
            <button type="button" class="btn btn-primary pull-right" onclick="@("location.href='"+ Url.Action("CreateSubForum","Forum")+ "'")">+ New Topic</button>
        </li>
        @foreach (var subforum in Model)
        {
            <li>
                <a href="/Forum/@subforum.Name/">@subforum.Name</a>
            </li>
        }
    </ul>
</div>