@using JabberBCIT.Models
@model PostViewModel
@{
    ViewBag.Title = "ViewThread";
}

<head>
    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Content/forum.css" rel="stylesheet">
    <!-- Janky voting code -->
    <script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".voteButton").click(function (e) {
                console.log("Please help");
                e.preventDefault();
                $.ajax({
                    url: $(this).attr("href"),
                    success: function () {
                        location.reload();
                    }
                });
            });
        });
    </script>
</head>
<body style="padding-top: 0px;">
    <div id="wrapper">
        <!-- Navigation -->
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        @{Html.RenderAction("SidebarPartial"); }
        <!-- /.Sidebar Menu Item -->
        <!-- /.Navigation -->

        <div id="page-wrapper">

            <div class="container-fluid">
                <!-- Page Content -->
                <!-- Page Heading -->
                <table class="table table-filter">
                    <tr>
                        <td></td>
                        <td>
                            <a href="/Vote/Post/@Model.post.PostID/1" class="voteButton">
                                <div class="vote">
                                    <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
                                </div>
                            </a>
                            <p class="vote-count">@Model.votes</p>
                            <a href="/Vote/Post/@Model.post.PostID/-1" class="voteButton">
                                <div class="vote">
                                    <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
                                </div>
                            </a>
                        </td>
                        <td>
                            <br>
                            <h1 class="forum-header">
                                <b>@Model.post.PostTitle</b>
                                <br>
                                <small>@Model.post.User.UserName</small>
                            </h1>
                            <p>@Model.post.Message</p>
                            <form action="Reply">
                                <input type="submit" class="btn" value="Reply" />
                            </form>
                        </td>
                    </tr>
                </table>
                <!-- ./Page Heading -->
                <!-- Comments -->
                <table>
                    @foreach (var childComments in Model.childComments)
                    {
                        Html.RenderPartial("CommentPartial", childComments);
                    }
                </table>
                <!-- ./Comments -->
                <hr>

                <!-- Footer -->
                <footer>
                    <div class="row text-center">
                        <div class="col-lg-12">
                            <p>Copyright &copy; BCIT Jabber 2016</p>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
</body>



















