.container2 {
    height: 100vh;
    width: 100vw;
}

#allChats {
    width: 15%;
    height:100vh;
    background-color: white;
    border:0.1px solid black;
    float: left;
    overflow-y: auto;
}

#center {
    width: 85%;
    height:100vh;
    background-color: white;
    border:0.1px solid black;
    float: left;
}

#allMembers {
    width: 15%;
    height:100vh;
    background-color: white;
    border:0.1px solid black;
}

/*#memberSearch, #addMember, #createConversation, #memberList, #addName, #allMessages, #messageBox {
    display: none;
}*/

#newChat:hover {
    background-color: lightgray;
    cursor: pointer; 
    cursor: hand;
}

.chats:hover {
    background-color: lightgray;
    cursor: pointer; 
    cursor: hand;
}