body {
    min-height: 100%;
    max-height: 100%;
}
#discussion {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: beige;
    min-height: 500px;
    max-height: 500px;
    overflow:  auto;
    list-style: none;
    padding-left: 0;     
}


#discussion li {
    padding-left: 10px;
    padding-top: 2px;
    background-color: beige;
}
#discussion li:nth-child(odd) {
    background-color: darkgray;
}

#title {

}