.avatar > img{
    margin:20px 35px;
}

.avatar >  label{
    margin:20px 90px;
}
.info {
   margin-top:20px;
}

.img-thumbnail {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.avatar:hover img{
    opacity:0.5;
}
.avatar:hover label {
    display: block;
}
.avatar label {
    position:absolute;
    display:none;
}
.avatar label.update {
    top:0;
    left:0;
}

.subBtn {
    margin:0px 62px;
}