body { 
    padding-top: 50px; 
}

.ForgotPassTitle{
    text-align: center;
}

.ForgotPassSubHeader{
    margin: auto;
    text-align: center;
    display: block;
}

.ForgotPassForm{
    margin: auto;
    display: block;
    width: 40%;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	bottom: 10px;
    left: 10px;
	background: #0074D9 url('../images/arrow_upward_white_24dp_2x.png') no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*
    Padding to keep content from touching the edge
.body-content{
    padding-left: 15px;
    padding-right: 15px;
}
*/