body { 
    padding-top: 50px; 
}

.ForgotPassTitle{
    text-align: center;
}

.ForgotPassSubHeader{
    margin: auto;
    text-align: center;
    display: block;
}

.ForgotPassForm{
    margin: auto;
    display: block;
    width: 40%;
}

a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	bottom: 20px;
	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/*
    Padding to keep content from touching the edge
*/
.body-content{
    padding-left: 15px;
    padding-right: 15px;
}

.comment {
    border-left-style:solid;
    border-left-color: red;
    padding-left: 2px;
    overflow:hidden;
}

.tick {
  display: table-cell;
    padding-left: 0;
    padding-right: 1px;
}

.comment_vote{
    background: #27AE61 no-repeat center 43%;
	width: 30px;
	height: 30px;
	z-index: 999;
	text-indent: -9999px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
  vertical-align: middle;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.block {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 25%;
}