
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right hidden-lg hidden-md">
            <li id="noti_Container" class="">
                <div id="noti_Counter"></div>   <!--SHOW NOTIFICATIONS COUNT.-->
                <!--A CIRCLE LIKE BUTTON TO DISPLAY NOTIFICATION DROPDOWN.-->
                <div id="noti_Button"></div>
                <!--THE NOTIFICAIONS DROPDOWN BOX.-->
                <div id="notifications">
                    <h3 style="margin-left:10px">Notifications</h3>
                    <div style="height:300px;"></div>
                </div>
            </li>
        </ul>
    }
}
