@model ForumPost
@{
    ViewBag.Title = "ForumPostPartial";
}
<tr>
    <td>
        <div class="text-center">1</div>
    </td>
    <td>
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
            </div>
        </a>
        @*<p class="vote-count">@Html.DisplayFor(m => m.Votes)</p>*@
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
            </div>
        </a>
    </td>
    <td>
        <div class="media">
            <a href="#" class="pull-left">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/fffabs/128.jpg" class="media-photo">
            </a>
            <a href="ViewForumThread/@Model.PostID">
                <div class="media-body">
                    <span class="pull-right media-meta">@Html.Display(Model.PostTimestamp.ToShortDateString())</span>
                    <h4 class="title">
                        @Html.DisplayFor(m => m.PostTitle)
                    </h4>
                    
                </div>
            </a>
        </div>
    </td>
</tr>