@model JabberBCIT.Models.CommentAndChildrenViewModel
@{
    ViewBag.Title = "ForumCommentPartial";
}
<tr>
    <td valign="top" style="width:40px">
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-up vote-icon"></span>
            </div>
        </a>
        @*<p class="vote-count">@Html.DisplayFor(m => m.Votes)</p>*@
        <p class="vote-count">1</p>
        <a href="#">
            <div class="vote">
                <span class="glyphicon glyphicon-chevron-down vote-icon"></span>
            </div>
        </a>
    </td>
    <td>
        <div class="media">
            <div class="media-body">
                <h4 class="title">
                    @Model.comment.UserID
                </h4>
                <p>
                    @Model.comment.Comment1
                </p>
            </div>
            <table>
                    @{
                        List<Comment> child = new List<Comment>();
                        List<Comment> notChild = new List<Comment>();
                        foreach (var comment in Model.comments)
                        {
                            if (comment.ParentCommentID == Model.comment.CommentID)
                            {
                                child.Add(comment);
                            }
                            else
                            {
                                notChild.Add(comment);
                            }
                        }
                        foreach (var comment in child)
                        {
                            JabberBCIT.Models.CommentAndChildrenViewModel goat = new JabberBCIT.Models.CommentAndChildrenViewModel();
                            goat.comment = comment;
                            goat.comments = notChild;
                            @Html.Partial("ForumCommentPartial", goat);
                        }
                    }
            </table>
        </div>
    </td>
</tr>