<?xml version="1.0"?>
<connectionStrings>
  <add name="ChitterContext" connectionString="data source=4956.database.windows.net;initial catalog=4956-DB;user id=Proctor;password=Password2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-JabberBCIT-20161006124231.mdf;Initial Catalog=aspnet-JabberBCIT-20161006124231;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
