<body>
    <div id="page">
        <h2>About us</h2>
        <div class="body-content">
            <div id="about">
                <p id="main">
                    Jabber for BCIT was created by Set 4D of the Fall 2016 Semester. Through this
                    project we learned large project structure techniques, proper Git flow and management,
                    how to create a successful MVC app and much more. We are proud to offer this site to 
                    all to use at anytime. With a fully functioning forum and chat to talk to your friend 
                    we hope you find out site helpful and useful in the future.
                    <br />
                    Thank you from set 4D
                </p>
                
            </div>
            @*put team image here*@
            <img id="class_image" src="../../Images/11-4.jpg" />
        </div>
    </div>
</body>
@Styles.Render("~/Content/about.css")