@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="body-content">
    <div class="comment">
        <label>USERNAME</label>
        <p>
            He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. 
            If Trump Ipsum weren’t my own words, perhaps I’d be dating it. Lorem Ispum is a choke artist. It 
            chokes! I will write some great placeholder text – and nobody writes better placeholder text 
            than me, believe me – and I’ll write it very inexpensively. I will write some great, great text 
            on your website’s Southern border, and I will make Google pay for that text. Mark my words.
        </p>
        <div class="comment">
            <label>USERNAME</label>
            <p>
                He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured. If Trump Ipsum weren’t my own words, perhaps I’d be dating it. Lorem Ispum is a choke artist. It chokes! I will write some great placeholder text – and nobody writes better placeholder text than me, believe me – and I’ll write it very inexpensively. I will write some great, great text on your website’s Southern border, and I will make Google pay for that text. Mark my words.
            </p>
        </div>
    </div>
</div>