<body>
    <div id="page">
        <h2>About us</h2>
        <div class="body-content">
            <div id="about">
                <p id="main">
                    He’s not a word hero. He’s a word hero because he was captured. I like text that wasn’t captured.
                    If Trump Ipsum weren’t my own words, perhaps I’d be dating it. Lorem Ispum is a choke artist. It
                    chokes! I will write some great placeholder text – and nobody writes better placeholder text
                    than me, believe me – and I’ll write it very inexpensively. I will write some great, great text
                    on your website’s Southern border, and I will make Google pay for that text. Mark my words.
                </p>
                
            </div>
            @*put team image here*@
            <img id="class_image" src="../../Images/11-4.jpg" />
        </div>
    </div>
</body>
@Styles.Render("~/Content/about.css")