@{
    ViewBag.Title = "Home Page";
}


<div class="fullscreen background parallax" style="background-image: url('../../Images/11-4.jpg'); " data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<div class="not-fullscreen background parallax" style="background-image: url('../../Images/BCIT-2.jpg'); " data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<section class="not-fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>

<div class="fullscreen background parallax" style="background-image: url('../../Images/SE2_dan.jpg'); " data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>

<div class="fullscreen background parallax" style="background-image: url('../../Images/BCIT2.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br>Content overflow<br>Content overflow
            <br><br>
        </div>
    </div>
</div>

<div class="not-fullscreen background parallax" style="background-image: url('../../Images/BCIT-2.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<section class="not-fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>

<section class="fullscreen">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</section>