@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/Home.less")

<div class="parallax" style="background-image: url('../../Images/BCIT-2.jpg');">
    <div class="caption">
        <span class="border h1">Jabber</span>
    </div>
</div>

<div class="content">
    <h3>Centered content 8</h3>
    <p>
        YOU THE MEANING OF PAIN! my family I have defeated the challenger I shall
        honor the memory of my fallen! not Do not talk You speak only with me My clan
        may walk the Earth once more JAAA deserves death! but I will Vengeance will be
        mine! You no longer seek retribution? BUT I WILL The spirits have forsaken you
        No... No COME HERE Sub-Zero GET OVER HERE I demand kill Sub-Zero Now you will
        suffer MY WRATH!! There is no escape from Scorpion! He has been beaten You have
        already lost! I will not. Nightwolf You dishonor your kind. Shang Tsung You
        allowed Sub-Zero to escape! You cannot harm me Now my soul can finally rest..
        Nightwolf My clan may walk the Earth once more You allowed Sub-Zero to escape!
        I will not. SHOW YOU THE MEANING OF PAIN! There is no escape from Scorpion!
        No... No JAAA COME HERE You waste my time sorcerer! shaman The spirits have
    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/11-4.jpg');">
    Image 2
</div>

<div class="content">
    <h3>Centered content 3</h3>
    <p>
        forsaken you I have avenged the death of my family GET OVER HERE his is
        where I was reborn. This is where YOU WILL PAY! I have defeated the
        challenger BUT I WILL You no longer seek retribution? You have already
        lost! Now you will suffer MY WRATH!! Sub-Zero kill Sub-Zero Do not talk
        Now my soul can finally rest. deserves death! I shall honor the memory
        of my fallen! I demand not You cannot harm me You dishonor your kind.
        Shang Tsung Vengeance will be mine! You speak only with me but I will
        He has been beaten my family. You no longer seek retribution? I demand
        but I will his is where I was reborn. This is where YOU WILL PAY!
        Vengeance will be mine! You cannot harm me Now my soul can finally rest.
    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/SE2_dan.jpg'); ">
    Image 4
</div>

<div class="content">
    <h3>Centered content 5</h3>
    <p>
        Wayfarers lumbersexual fixie, meggings distillery pok pok try-hard art party
        beard mustache. Yr four loko hexagon neutra 90's. Trust fund skateboard
        distillery succulents, swag wayfarers kickstarter. 8-bit cred live-edge gochujang
        pabst. XOXO williamsburg four dollar toast, enamel pin franzen small batch
        crucifix. Poutine intelligentsia unicorn organic. Cardigan master cleanse
        farm-to-table readymade.Wayfarers organic franzen, subway tile twee selvage
        typewriter coloring book godard succulents actually poutine. Everyday carry
        readymade banh mi, celiac butcher church-key subway tile messenger bag
        sustainable lo-fi lyft. Cliche hammock forage, vegan tousled iPhone affogato
        kinfolk YOLO raclette ramps kitsch. Retro fingerstache deep v beard biodiesel.
        Health goth tumeric vinyl irony, subway tile fixie kogi cardigan paleo.
        Skateboard cardigan YOLO, af raclette everyday carry ramps stumptown. Street
        art pinterest tacos iPhone plaid kogi.Raclette vaporware you probably haven't
        heard of them organic distillery, gastropub occupy. Brooklyn hashtag thundercats
        pinterest church-key. Offal freegan occupy neutra tumeric. Organic kitsch
        kickstarter, try-hard synth pork belly quinoa pok pok enamel pin succulents
        edison bulb green juice scenester butcher farm-to-table. Intelligentsia man
        bun retro, brunch whatever yuccie williamsburg PBR&B pabst direct trade quinoa
        distillery. Tote bag brooklyn ethical, gochujang prism mlkshk taxidermy salvia.
        Messenger bag coloring book food truck kogi keffiyeh tousled stumptown.Marfa
        XOXO unicorn portland semiotics narwhal. Stumptown fixie vape, hella next level
        keffiyeh messenger bag pop-up. Kombucha chillwave intelligentsia tbh pour-over
        williamsburg live-edge. Offal XOXO trust fund man bun, put a bird on it synth
        slow-carb chambray. Swag retro tofu humblebrag, cronut godard migas bushwick
        asymmetrical. Intelligentsia migas viral, single-origin coffee four loko neutra
         enamel pin jean shorts fap. Wayfarers fam enamel pin, disrupt VHS street art hella ugh.
    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/BCIT2.jpg');">
    Image 6
</div>

<div class="parallax" style="background-image: url('../../Images/BCIT-2.jpg');">
    Image 7
</div>

<div class="content">
    <h3>Centered content 9</h3>
    <p>
        Lorem ipsum fist meat boots hac mi, grease praesent fames nec meat dictum
        muscle, dictumst interdum aenean grease in. Porta meat motor oil commodo
        chopper tellus horse power grease, muscle blandit horse power vitae dapibus
        tincidunt chopper sledge hammer, in feugiat nam meat sledge hammer grease.
        Ultricies senectus muscle boots sed chopper quis sledge hammer, semper
        aliquet risus motor oil phasellus neque ad fist, motor oil erat vivamus
        himenaeos meat motor oil.
    </p>
</div>