@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/home")

<div class="parallax" style="background-image: url('../../Images/11-4.jpg');">
    <div class="caption">
        <span class="border title h1">Jabber</span>
    </div>

    <img class="image-downarrow-back" src="../../Images/homepage_gradient.png" />
    
    <a id="downArrowClick" class="downArrow">
       <!-- <img class="image-downarrow" src="../../Images/arrow_downward_white_24dp_2x.png" />
    -->
    </a>
</div>

<div id="topContent" class="topContent">
    <h3 class="content-headers">What is Jabber@BCIT?</h3>
    <p class="para-content">
        Jabber@BCIT brings forth a new and exciting way to interact with your friends and classmates at BCIT.
        With a comprehensive, easy-to-use, and simple social network system built specifically for students at BCIT,
        making new friends and keeping in contact with your classmates has never been better.

    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/BCIT-2.jpg');"></div>

<div class="content">
    <h3 class="content-headers">Forums For Students, By Students</h3>
    <p class="para-content">
        With the Forums, anyone can create a new thread where you and all your friends can discuss anything you want.
        Inviting new friends and colleagues is easy, and looking through the forum messages is clean and simple.
        On the main Forum page, you will be able to browse other publicly available forums, and indulge in that intellectual
        discussion you have always craved for.
    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/SE2_dan.jpg'); "></div>

<div class="content">
    <h3 class="content-headers">Create Your Own Social Space</h3>
    <p class="para-content">
        Create an in-depth social profile where you can customize every aspect to your heart's content. Changing your image, editing
        your biography, and many other personalization options await your creative ingenuity. Afterwards, add some of your friends
        and make a social impact in your life at BCIT.
    </p>
</div>

<div class="parallax" style="background-image: url('../../Images/BCIT2.jpg');"></div>

<div class="content">
    <p class="para-content">
        Proudly created by the Computer System Technology Students, Technical Programming Option 2016, at BCIT.
    </p>
</div>