@model JabberBCIT.Models.ChatGroup

@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/Chat.css")

@Html.AntiForgeryToken()

<div class="container2">
    @using (Html.BeginForm("Chat", "Chat", FormMethod.Post, new { name = "Start" }))
    {
        <div id="allChats">
            <div id="newChat"><br /><h5>Create New Chat</h5><br /></div>
            <div class="chats"><br /><h5>Chat #1</h5><br /></div>
            <div class="chats"><br /><h5>Chat #2</h5><br /></div>
            <div class="chats"><br /><h5>Chat #3</h5><br /></div>
            <div class="chats"><br /><h5>Chat #4</h5><br /></div>
            <div class="chats"><br /><h5>Chat #5</h5><br /></div>
            <div class="chats"><br /><h5>Chat #6</h5><br /></div>
            <div class="chats"><br /><h5>Chat #7</h5><br /></div>
        </div>
        <div id="allMessages">
            @Html.TextBoxFor(model => model.GroupName, htmlAttributes: new { @id = "addName", @placeholder="Group Name" })
            <input type="text" name="memberSearch" id="memberSearch" placeholder="UserName" />
            <input type="button" value="Add" id="addMember" />
            @Html.LabelFor(model => model.Members, htmlAttributes: new { @id = "memberList" })
            <input type="submit" value="Done" id="createConversation" />
        </div>
        <div id="allMembers">
        </div>
    }
</div>
@section scripts {
    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            var newChatMembers = new Array();
            $(document).on('click', '#newChat', function (e) {
                if (!$('#memberSearch').is(":visible")) {
                    $('#addName').show();
                    $('#memberSearch').show();
                    $('#addMember').show();
                    $('#memberList').show();
                    $('#createConversation').show();
                }
            });
            $(document).on('click', '.chats', function (e) {
                $('#addName').hide();
                $('#memberSearch').hide();
                $('#addMember').hide();
                $('#memberList').hide();
                $('#createConversation').hide();
            });
            $(document).ready(function () {
                $('#memberSearch').autocomplete({
                    source: `@Url.Action("Autocomplete")`
                });
            });
            $(document).on('click', '#addMember', function (e) {
                $('#memberList').html($('#memberList').html() + "<br />" + $('#memberSearch').val())
                newChatMembers.push($('#memberSearch').val())
                $('#memberSearch').val('');
            });
        });
    </script>
}
